body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.app-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.messages-container {
    margin-top: 30px;
    flex-grow: 1;
    overflow: scroll;
    scrollbar-width: none;
}

.send-btn {
    background-color: rgb(25, 135, 84);
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.input-bar {
    padding: 12px 15px;
    border-width: 1px;
    border-radius: 10px;
    font-size: 15px;
    flex-grow: 1;
}

.user-message {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
}

.robot-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-text {
    background-color: rgb(235, 235, 235);
    padding: 12px 15px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 300px;
}

.profile-img {
    width: 45px;
}

.loading-gif {
    height: 40px;
    margin: -15px;
}
